.navbar {
    background-color: #F4F5EE;
}
#nav-img {
    width: 200px;
}
.search-form {
    width: auto;
}

.navbar-collapse {
    justify-content: flex-end;
}

.card {
    max-width: 100%;
}
.card-text {
    word-wrap: break-word;
}
.card-img-top {
    height: 340px;
    width: 100%
}

#recipe {
    margin: 5px 5%
}
#recipe-img {
    width: 340px
}