.navbar {
    background-color: #F4F5EE;
}
#nav-img {
    width: 200px;
}
.search-form {
    width: auto;
}

.navbar-collapse {
    justify-content: flex-end;
}

.recipe-container:hover{
    cursor: pointer;
}
.recipe-img {
    max-width: 100%;
}

#recipe {
    margin: 5px 5%
}
#recipe-img {
    width: 340px
}

.time p {
    padding-left: 5px;
    padding-right: 5px;
    border-right: solid 1px black;

    text-align: center;
}
.time p:last-child {
    border: none ;
}